<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>學校與科系</title>
</head>
<body >
<div>
    <form action="/submitChoices" method="post">
        <p style="font-size: 20px;">選擇你感興趣的學校與科系：</p>
        <input type="checkbox" id="electrical" name="college" value="台大電機">
        <label for="electrical">台大電機</label><br>
        <input type="checkbox" id="management" name="college" value="台大資管">
        <label for="management">台大資管</label><br>
        <input type="checkbox" id="statistics" name="college" value="台大統計">
        <label for="statistics">台大統計</label><br>
        <input type="checkbox" id="math" name="college" value="台大數學">
        <label for="math">台大數學</label><br>
        <button type="submit">提交</button>
    </form>
</div>
</body>
</html>
