<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{home}">
<head>
	<meta charset="UTF-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style>
		[v-cloak]{
			display: none;
		}
		.tableWDM {
			border-collapse:collapse;
			table-layout:fixed;
			word-break:break-all
		}
		.tableWDM td{
			border: 1px solid black;
			font-size: 14px;
			padding-left: 5px
		}
		.tableTask {
			border-collapse:collapse;
			table-layout:fixed;
			word-break:break-all
		}
		.tableTask td{
			height: 30px;
			border: 1px solid #E7E7FF;
		}
		.off{
			background-color: #7C6F57;
		}
		.info{
			color: green;
		}

		.danger{
			color: red;
		}
	</style>
</head>
<body>
<div layout:fragment="panel-condition" class="panel-hidden"></div>
<div layout:fragment="panel-button">
	<button type="button" class="btn btn-primary" id="btnUpdate">變更儲存</button>
	<button type="button" class="btn btn-primary" id="btnWaiver">放棄變更</button>
	<button type="button" class="btn btn-primary" id="btnPrevPage">上一頁</button>
</div>
<div layout:fragment="panel-summary" class="panel-hidden"></div>
<div layout:fragment="panel-grid">
	<form id="batchForm" method="post">
		<div id="UI000100">
			<table style="width:62.5%">
				<tr>
					<td style="width:17%">
						批次名稱*
					</td>
					<td colspan="2">
						<input type="text" class="form-control" style="width: 50%;" v-model="batch.batchName" id="batchName" name="batchName">
					</td>
					<td style="width:15%">
						是否啓用
					</td>
					<td>
						<input type="checkbox" v-model="items.enable" onclick="checkItem('batchEnable')" />
					</td>
				</tr>
				<tr>
					<td>
						批次説明
					</td>
					<td colspan="4">
						<input type="text" class="form-control" v-model="batch.batchDescription" maxlength="512">
					</td>
				</tr>
				<tr>
					<td>
						執行主機
					</td>
					<td>
						<select v-model="batch.batchExecuteHostName" class="form-control">
							<option th:each="option : ${options}" th:text="${option.text}" th:value="${option.value}"/>
						</select>
					</td>
				</tr>
				<tr>
					<td>地區別</td>
					<td>
						<select v-model="batch.batchZone" class="form-control" style="width: 126px;">
							<option value="   "></option>
							<option value="HKG">香港</option>
							<option value="MAC">澳門</option>
							<option value="TWN">台灣</option>
						</select>
					</td>
					<td></td>
					<td>系統別</td>
					<td>
						<select v-model="batch.batchSubsys" class="form-control">
							<option value="0">請選擇</option>
							<option v-for="(sub, i) in subsys" :value="sub.subsysSubsysno">{{sub.subsysNameS}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						是否排程 <input type="checkbox" v-model="items.schedule" onclick="checkItem('batchSchedule')" />
					</td>
					<td style="width:25%">
						每天只能做一次 <input type="checkbox" v-model="items.singletime" onclick="checkItem('batchSingletime')" />
					</td>
					<td style="width:23%">
						檢查營業日 <input type="checkbox" v-model="items.checkbusinessdate" onclick="checkItem('batchCheckbusinessdate')" />
					</td>
				</tr>
				<tr>
					<td>可啓動群組</td>
					<td>
                        <img th:src="@{/images/check.png}" alt="" @click="groupCheckAll('true')">
                        <img th:src="@{/images/cancelcheck.png}" alt="" @click="groupCheckAll('false')">
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">
						<div style="border: 1px solid black;height: 145px;overflow-y:auto;padding-left: 3px;">
						<span v-for="(group, i) in groupList">
							<input type="checkbox" v-model="groupChk" :value="group.value">
							{{group.name}}
							<br>
						</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						通知方式
					</td>
					<td  colspan="4">
						<input type="radio" name="rbtnNotifyType" value="0" v-model="batch.batchNotifytype">不通知
						<input type="radio" name="rbtnNotifyType" value="1" style="margin-left: 10px;" v-model="batch.batchNotifytype">成功時通知
						<input type="radio" name="rbtnNotifyType" value="2" style="margin-left: 10px;" v-model="batch.batchNotifytype">失敗時通知
						<input type="radio" name="rbtnNotifyType" value="3" style="margin-left: 10px;" v-model="batch.batchNotifytype">成功失敗都通知
					</td>
				</tr>
				<tr>
					<td>
						通知Mail
					</td>
					<td colspan="4">
						<input type="text" class="form-control" maxlength="300" v-model="batch.batchNotifymail">
					</td>
				</tr>
				<tr>
					<td>
						處理方式
					</td>
					<td colspan="4">
						<textarea class="form-control" rows="2" maxlength="100"  v-model="batch.batchAction"></textarea>
					</td>
				</tr>
				<tr v-if="batch.batchSchedule == 1 && detail == 'update'">
					<td>排程設定:</td>
				</tr>
				<tr v-if="batch.batchSchedule == 1 && detail == 'update'">
					<td colspan="3">
						<input type="radio" name="batchScheduleType" value="D" style="margin-left: 10px;" v-model="batch.batchScheduleType">每日
						<input type="radio" name="batchScheduleType" value="W" style="margin-left: 10px;" v-model="batch.batchScheduleType">每周
						<input type="radio" name="batchScheduleType" value="M" style="margin-left: 10px;" v-model="batch.batchScheduleType">每月
					</td>
				</tr>
				<tr class="batchSchedule">
					<td colspan="3">
						批次開始於
						<div class="row">
							<div class="col input-group date" id="batchDates" data-target-input="nearest">
								<input type="text" class="form-control datetimepicker-input" data-target="#batchDate" id="batchDate" name="batchDate" />
								<div class="input-group-append" data-target="#batchDate" data-toggle="datetimepicker">
									<div class="input-group-text">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
							</div>
							&nbsp;
							<div class="col input-group date" id="batchTimes" data-target-input="nearest">
								<input type="text" class="form-control datetimepicker-input" data-target="#batchTime" id="batchTime" name="batchTime"/>
								<div class="input-group-append" data-target="#batchTime" data-toggle="datetimepicker">
									<div class="input-group-text">
										<i class="far fa-clock"></i>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr v-if="batch.batchSchedule == 1 && batch.batchScheduleType == 'D' && detail == 'update'">
					<td colspan="5">
						<table>
							<tr>
								<td align="center">
									每隔
								</td>
								<td style="width:75px">
									<input type="text" class="form-control" style="text-align:right" v-model="batch.batchScheduleDayinterval">
								</td>
								<td>
									天
								</td>
							</tr>
							<tr>
								<td>
									重複每隔
								</td>
								<td>
									<input type="text" class="form-control" style="text-align:right" v-model="batch.batchScheduleRepetitioninterval">
								</td>
								<td>
									分鐘(0代表不重複),持續
								</td>
								<td style="width:75px">
									<input type="text" class="form-control" style="text-align:right" v-model="batch.batchScheduleRepetitioninduration">
								</td>
								<td>
									小時(0代表不限制)
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr v-if="batch.batchSchedule == 1 && batch.batchScheduleType == 'W' && detail == 'update'">
					<td colspan="5">
						<table>
							<tr>
								<td>
									每隔
								</td>
								<td>
									<input type="text" class="form-control" style="width:54px;text-align:right" v-model="batch.batchScheduleWeekinterval">
								</td>
								<td>
									個星期的
									<input type="checkbox" v-model="mwChk" value="1"> 星期天
									<input type="checkbox" v-model="mwChk" value="2"> 星期一
									<input type="checkbox" v-model="mwChk" value="4"> 星期二
									<input type="checkbox" v-model="mwChk" value="8"> 星期三
									<input type="checkbox" v-model="mwChk" value="16"> 星期四
									<input type="checkbox" v-model="mwChk" value="32"> 星期五
									<input type="checkbox" v-model="mwChk" value="64"> 星期六
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr v-if="batch.batchSchedule == 1 && batch.batchScheduleType == 'M' && detail == 'update'">
					<td colspan="5">
						<table class="tableWDM">
							<tr>
								<td style="width:60px">
									月份:
								</td>
								<td>
								<span v-for="(m, i) in mList">
									<input type="checkbox" v-model="mChk" :value="m.value">
									{{m.name}}
								</span>
									<br>
									<button type="button" class="btn btn-secondary btn-xs" @click="mCheckAll('true')">全選</button>
									<button type="button" class="btn btn-secondary btn-xs" @click="mCheckAll('false')">取消全選</button>
								</td>
							</tr>
							<tr>
								<td>
									<input id="m" name="m" type="radio" value="m" onclick="check(this.id)" v-model="radioType">日期:
								</td>
								<td>
								<span v-for="(md, i) in mdList">
									<input type="checkbox" v-model="mdChk" :value="md.value" :disabled="radioType == 'mw'"  class="day">
									{{md.name}}
								</span>
									<button type="button" @click="mdCheckAll('true')" :disabled="radioType == 'mw'"  class="day btn btn-secondary btn-xs">全選</button>
									<button type="button" @click="mdCheckAll('false')" :disabled="radioType == 'mw'"  class="day btn btn-secondary btn-xs">取消全選</button>
								</td>
							</tr>
							<tr>
								<td>
									<input id="mw" name="m" type="radio" value="mw" onclick="check(this.id)" v-model="radioType">於:
								</td>
								<td>
									<input type="checkbox" :disabled="radioType == 'm'" class="week" v-model="wmChk" value="1"> 第一周
									<input type="checkbox" :disabled="radioType == 'm'" class="week" v-model="wmChk" value="2"> 第二周
									<input type="checkbox" :disabled="radioType == 'm'" class="week" v-model="wmChk" value="4"> 第三周
									<input type="checkbox" :disabled="radioType == 'm'" class="week" v-model="wmChk" value="8"> 第四周
									<input type="checkbox" :disabled="radioType == 'm'" class="week" v-model="wmChk" value="16"> 最後一周
									<br>
									的
									<br>
									<input type="checkbox" :disabled="radioType == 'm'" class="week" v-model="mwChk" value="1"> 星期天
									<input type="checkbox" :disabled="radioType == 'm'" class="week" v-model="mwChk" value="2"> 星期一
									<input type="checkbox" :disabled="radioType == 'm'" class="week" v-model="mwChk" value="4"> 星期二
									<input type="checkbox" :disabled="radioType == 'm'" class="week" v-model="mwChk" value="8"> 星期三
									<input type="checkbox" :disabled="radioType == 'm'" class="week" v-model="mwChk" value="16"> 星期四
									<input type="checkbox" :disabled="radioType == 'm'" class="week" v-model="mwChk" value="32"> 星期五
									<input type="checkbox" :disabled="radioType == 'm'" class="week" v-model="mwChk" value="64"> 星期六
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<div class="changeTask">
				<hr>
				批次Task清單：
				<button type="button" class="btn btn-primary" id="changeTaskOrder">變更Task順序</button>
				<span :class="{info: messageType==='INFO',danger:messageType==='DANGER'}">{{message}}</span>
				<table class="tableTask" style="border:2px solid;margin-top: 3px;width:78%;">
					<tr style="background-color: #FDF0F0;">
						<td align="center" style="width: 8%"><b>明細</b></td>
						<td align="center" style="width: 8%"><b>刪除</b></td>
						<td align="center" ><b>執行程式</b></td>
						<td align="center" style="width: 13%"><b>Task順序</b></td>
						<td align="center" ><b>工作説明</b></td>
					</tr>

					<tr v-for="(ta, i) in tasks" :class="{off:currentIndex === i}">
						<td align="center" style="padding: 3px">
						<span v-if="currentIndex !== i">
							<button type="button" class="btn btn-block btn-outline-primary btn-sm" @click="taskDetails(i)">明細</button>
						</span>
							<span v-else>
							<button type="button" class="btn btn-block btn-outline-primary btn-sm" @click="taskStore(i)">儲存</button>
							<button type="button" class="btn btn-block btn-outline-primary btn-sm" @click="taskCancel(i)">取消</button>
						</span>
						</td>
						<td align="center" style="padding: 3px">
						<span v-if="currentIndex !== i">
							<button type="button" class="btn btn-block btn-outline-primary btn-sm" @click="taskDel(i)">刪除</button>
						</span>
							<span v-else>
						</span>
						</td>
						<td>
						<span v-if="currentIndex !== i">
							{{ta.TASK_NAME}}
						</span>
							<span v-else>
							<select class="form-control" v-model="ta.JOBTASK_TASKID">
								<option v-for="(task, i) in taskList" :value="task.taskId">{{task.taskName}}</option>
							</select>
						</span>
						</td>
						<td align="right">
						<span v-if="currentIndex !== i">
							<input type="text" v-model="ta.JOBS_SEQ" class="form-control jobsSeq" style="text-align: right;" :id="ta.JOBS_JOBID">
						</span>
							<span v-else>
							{{ta.JOBS_SEQ}}
						</span>
						</td>
						<td>{{ta.JOBS_DESCRIPTION}}</td>
					</tr>

					<tr>
						<td align="center"><button class="btn btn-block btn-outline-primary btn-sm" type="button" @click="taskInsert()">新增</button></td>
						<td></td>
						<td>
							<select class="form-control" v-model="tskId" id="tskId">
								<option v-for="(task, i) in taskList" :value="task.taskId">{{task.taskName}}</option>
							</select>
						</td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</form>
</div>
<div layout:fragment="panel-script">
	<script type="text/javascript" th:src="@{/js/batch/UI000100.vue.js}"></script>
</div>
</body>
</html>