<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{home}">

<head>
	<meta charset="UTF-8">
	</meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>	
	<div layout:fragment="panel-condition">
		<form id="form-validator" th:object="${form}" th:action="@{/dbmaintain/UI_070060/bindGrid}" method="post">
			<table border="0" cellspacing="0" class="table-condition">
				<tr>
					<td class="condition-label" style="width:200px">
						<label class="col-form-label">來源通道:</label>
					</td>
					<td class="condition-input" style="width:200px">
						<select id="channel" class="form-control" th:field="*{channel}">
							<option value="" selected="selected">全部</option>
							<option value="1" th:selected="${channel == msgFileChannel}">ATM</option>
							<option value="2" th:selected="${channel == msgFileChannel}">FISC</option>
							<option value="3" th:selected="${channel == msgFileChannel}">WEBATM</option>
							<option value="4" th:selected="${channel == msgFileChannel}">SINOCARD</option>
							<option value="5" th:selected="${channel == msgFileChannel}">BRANCH</option>
							<option value="6" th:selected="${channel == msgFileChannel}">CBS</option>
							<option value="7" th:selected="${channel == msgFileChannel}">FEP</option>
							<option value="8" th:selected="${channel == msgFileChannel}">FCS</option>
							<option value="9" th:selected="${channel == msgFileChannel}">RM</option>			
							<option value="10" th:selected="${channel == msgFileChannel}">UATMP</option>	
							<option value="11" th:selected="${channel == msgFileChannel}">FEDI</option>	
							<option value="12" th:selected="${channel == msgFileChannel}">ETS</option>	
							<option value="13" th:selected="${channel == msgFileChannel}">NETBANK</option>	
							<option value="14" th:selected="${channel == msgFileChannel}">IVR</option>	
							<option value="15" th:selected="${channel == msgFileChannel}">EPORTAL</option>	
							<option value="16" th:selected="${channel == msgFileChannel}">SQL</option>	
							<option value="17" th:selected="${channel == msgFileChannel}">Batch</option>	
							<option value="18" th:selected="${channel == msgFileChannel}">CARDTP</option>	
							<option value="19" th:selected="${channel == msgFileChannel}">GL</option>	
							<option value="20" th:selected="${channel == msgFileChannel}">EBILL</option>	
							<option value="21" th:selected="${channel == msgFileChannel}">PFS</option>	
							<option value="22" th:selected="${channel == msgFileChannel}">MMAB2C</option>	
							<option value="23" th:selected="${channel == msgFileChannel}">MOBILBANK</option>	
							<option value="24" th:selected="${channel == msgFileChannel}">CSF3</option>	
							<option value="25" th:selected="${channel == msgFileChannel}">HSM</option>				
						</select>
					</td>
					<td style="width:50px"></td>
					<td class="condition-label" style="width:200px">
						<label class="col-form-label">訊息代碼:</label>
					</td>
					<td class="condition-input" style="width:200px">
						<input id="errorCode" style="width:150px" type="text" class="form-control" th:field="*{errorCode}" th:maxlength="5"/>
					</td>
				</tr>
				<tr>
					<td class="condition-label">
						<label class="col-form-label">子系統:</label>
					</td>
					<td class="condition-input">
						<select id="subSys" class="form-control" th:field="*{subSys}">
							<option value="" selected="selected">全部</option>
							<option value="0" th:selected="${subSys == msgFileSubSys}">None</option>
							<option value="1" th:selected="${subSys == msgFileSubSys}">INBK</option>
							<option value="2" th:selected="${subSys == msgFileSubSys}">RM</option>
							<option value="3" th:selected="${subSys == msgFileSubSys}">ATMP</option>
							<option value="4" th:selected="${subSys == msgFileSubSys}">CARD</option>
							<option value="5" th:selected="${subSys == msgFileSubSys}">HSM</option>
							<option value="6" th:selected="${subSys == msgFileSubSys}">MON</option>
							<option value="7" th:selected="${subSys == msgFileSubSys}">RECS</option>
							<option value="8" th:selected="${subSys == msgFileSubSys}">GW</option>			
							<option value="9" th:selected="${subSys == msgFileSubSys}">CMN</option>	
						</select>
					</td>
					<td></td>
					<td class="condition-label">
						<label class="col-form-label">訊息嚴重性:</label>
					</td>
					<td class="condition-input">
						<select id="severity" class="form-control" th:field="*{severity}">
							<option value="" selected="selected">全部</option>
							<option value="Info" th:selected="${severity == msgFileSeverity}">Info</option>
							<option value="Warning" th:selected="${severity == msgFileSeverity}">Warning</option>
							<option value="Error" th:selected="${severity == msgFileSeverity}">Error</option>
							<option value="Fatal" th:selected="${severity == msgFileSeverity}">Fatal</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="condition-label">
						<label class="col-form-label">訊息簡述:</label>
					</td>
					<td class="condition-input">
						<input id="shortMsg" style="width:150px" type="text" class="form-control" th:field="*{shortMsg}" />
					</td>
					<td></td>
					<td></td>
				</tr>
			</table>
        </form>			
	</div>
	<div layout:fragment="panel-button">
		<button style="width:100px" type="button" class="btn btn-primary" id="btnQuery">查詢</button>
		<button style="width:100px" type="button" class="btn btn-primary" th:disabled="${form.webType == 'SSTQ'}" id="btnInsert">新增</button>
		<button style="width:100px" type="button" class="btn btn-primary" id="btnClear">清除</button>
	</div>
	<div layout:fragment="panel-summary" class="panel-hidden"></div>
	<div layout:fragment="panel-grid" th:if="${pageData != null}">
        	<div class="card-body table-responsive p-0">	
        		<table class="table table-striped table-bordered table-head-fixed table-hover text-nowrap">
					<thead>
						<tr>
							<th><b>來源通道</b></th>
							<th><b>訊息代碼</b></th>
							<th><b>子系統</b></th>
							<th><b>訊息嚴重性</b></th>
							<th><b>送事件監控</b></th>
							<th><b>輸出訊息代碼</b></th>
							<th><b>財金訊息代碼</b></th>
							<th><b>ATM訊息代碼</b></th>
							<th><b>CBS訊息代碼</b></th>
							<th><b>CBS主機訊息代碼</b></th>
							<th><b>信用卡訊息代號</b></th>
							<th><b>訊息簡述</b></th>
						</tr>   
					</thead>   
                    <tbody th:if="${pageData.list != null}" th:object="${pageData.list}"> 
                    	<tr th:each="data, dataStat : ${pageData.list}">
                    		<td align="center">
                    			<!--來源通道-->
                  				<a class="msgfileChannel" href="#" th:text="${data.msgfileChannelTxt}" th:value="${										
                    			         '{' 											
                    			            + '&quot;msgfileChannel&quot;:&quot;'+data.msgfileChannel + '&quot;' + ','
											+ '&quot;msgfileErrorcode&quot;:&quot;'+data.msgfileErrorcode + '&quot;' + ','
											+ '&quot;msgfileSubsys&quot;:&quot;'+data.msgfileSubsys + '&quot;' + ',' 
											+ '&quot;msgfileSeverity&quot;:&quot;'+data.msgfileSeverity + '&quot;' + ',' 
											+ '&quot;msgfileSendEms&quot;:&quot;'+data.msgfileSendEms + '&quot;' + ',' 
											+ '&quot;msgfileRetain&quot;:&quot;'+data.msgfileRetain + '&quot;' + ','
											+ '&quot;msgfileAuth&quot;:&quot;'+data.msgfileAuth + '&quot;' + ',' 
											+ '&quot;msgfileWarning&quot;:&quot;'+data.msgfileWarning + '&quot;' + ',' 
											+ '&quot;msgfileExternal&quot;:&quot;'+data.msgfileExternal + '&quot;' + ',' 
											+ '&quot;msgfileFisc&quot;:&quot;'+data.msgfileFisc + '&quot;' + ',' 
											+ '&quot;msgfileAtm&quot;:&quot;'+data.msgfileAtm + '&quot;' + ',' 
											+ '&quot;msgfileUatmp&quot;:&quot;'+data.msgfileUatmp + '&quot;' + ',' 
											+ '&quot;msgfileT24&quot;:&quot;'+data.msgfileT24 + '&quot;' + ','
											+ '&quot;msgfileCredit&quot;:&quot;'+data.msgfileCredit + '&quot;' + ',' 
											+ '&quot;msgfileShortmsg&quot;:&quot;'+data.msgfileShortmsg + '&quot;' + ',' 
											+ '&quot;msgfileMsgdscpt&quot;:&quot;'+data.msgfileMsgdscpt + '&quot;' + ',' 
											+ '&quot;msgfileAction&quot;:&quot;'+data.msgfileAction + '&quot;' + ',' 
											+ '&quot;msgfileResponsible&quot;:&quot;'+data.msgfileResponsible + '&quot;' + ','
											+ '&quot;msgfileNotify&quot;:&quot;'+data.msgfileNotify + '&quot;' + ',' 
											+ '&quot;msgfileVisible&quot;:&quot;'+data.msgfileVisible + '&quot;' + ',' 
											+ '&quot;msgfileUicolor&quot;:&quot;'+data.msgfileUicolor + '&quot;' + ',' 
											+ '&quot;actionType&quot;:&quot;E&quot;' + ',' 
											+ '&quot;webType&quot;:&quot;'+form.webType+'&quot;' 
										+ '}'
										}">
								</a>                      		
                    		</td>
                    		<td align="center" th:text="${data.msgfileErrorcode}" /><!--訊息代碼-->
                    		<td align="center" th:text="${data.msgfileSubsysTxt}" /><!--子系統-->
                    		<td align="center" th:text="${data.msgfileSeverity}" /><!--訊息嚴重性-->
                    		<td align="center" th:text="${data.msgfileSendEmsTxt}"/><!--送事件監控-->
                    		<td align="center" th:text="${data.msgfileExternal}" /><!--輸出訊息代碼-->
                    		<td align="center" th:text="${data.msgfileFisc}" /><!--財金訊息代碼-->
                    		<td align="center" th:text="${data.msgfileAtm}" /><!--ATM訊息代碼-->
                    		<td align="center"  th:text="${data.msgfileUatmp}" /><!--優利訊息代碼-->
                    		<td align="center" th:text="${data.msgfileT24}" /><!--CBS主機訊息代碼-->
                    		<td align="center"  th:text="${data.msgfileCredit}" /><!--信用卡訊息代號-->
                    		<td align="left"  th:text="${data.msgfileShortmsg}" /><!--訊息簡述-->
                    	</tr>
                    </tbody>		
        		</table>   
        	</div>	
	</div>
	<div layout:fragment="panel-script">
		<script type="text/javascript" th:src="@{/js/dbmaintain/UI070060.js}"></script>
	</div>
</body>

</html>